<!DOCTYPE html>
<html lang="{{ DEFAULT_LANG }}">
<head>
    {% block head %}
        <title>{% block title %}{{ SITENAME }}{% endblock title %}</title>
        {% assets filters="cssmin", output="css/style.min.css", "css/style.css", "css/bootstrap-theme.css", "css/bootstrap.css" %}
            <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}
        <meta charset="utf-8" />

        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_ATOM }}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Atom Feed" />
        <link href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}" type="application/rss+xml" rel="alternate" title="{{ SITENAME }} RSS Feed" />

      {% endblock head %}
</head>

<body>
    <div class="container main-container">
        <div class="row">
            <div class="col-md-offset-1 col-md-3">
                <p class="logo">
                    <a href="{{ SITEURL }}"><img src="{{ SITEURL }}/theme/img/pytest1.png"></a>
                </p>
                <h3>about</h3>
                <p>
                    pytest is a mature full-featured Python testing tool that helps
                    you write better programs.
                </p>

                <h3>blog resources</h3>
                <ul>
                    <li><a href="{{ SITEURL }}/tags.html">Tags</a></li>
                    <li><a href="{{ SITEURL }}/archives.html">Archives</a></li>
                    <li><a href="{{ FEED_DOMAIN }}/{{ FEED_ALL_RSS }}">RSS</a> </li>
                </ul>
                <h3>pytest resources</h3>
                <ul>
                    {% for url, title in RESOURCE_LINKS %}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-8 main-content">
              {% block content %}
              {% endblock %}
            </div>
        </div>
        <p class="footer">
            © Copyright 2015, holger krekel and pytest-dev team. Created using <a href="http://blog.getpelican.com/">Pelican</a>.
        </p>
    </div>



</body>
</html>
