.container.main-container {
    margin-top:30px;
}

.logo {
	text-align: center;
}

.footer {
    text-align: right;
    color: #888;
}

.entry-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

abbr {
    color: gray;
    font-size: 80%;
}
